h1,h2,h3,h4,h5{
  border: 0px;
  margin: 0px;
}

p{
  margin: 0px;
}


ul{
  /*list-style-type: square*/
  margin: 0px;
  padding-left: 3ch;
}

ul > li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}


ul > li::marker{
  color: #6630D9;
  /*font-size: 3em;*/
  /*line-height: 2em;*/
  /*padding: 0px;
  margin: 0px;
  
  padding-top: 200px;*/
  /*list-style-position: inside;*/
}


.separator{
  display: block;
  /*border: 0px;*/
  border-top-width: 1px;
  border-color: #000000;
  border-top-style: dotted;
}

.flex.column{
  display: flex;
  flex-direction: column;
}

.flex.row{
  display: flex;
  flex-direction: row;
  /*margin: -20px;*/
}

.flex.tail{
  align-self: flex-end;
}

.flex.head{
  align-self: flex-end;
}

.box.width{
  width: 200px;
  min-width: 200px;
}

.box.height{
  height: 200px;
  min-height: 200px;
}




/*select the container itself*/
#main{
  margin-top: 1.5rem;
  /*position: center;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 85ch;
  
  background-color: #F2F2F2;
  /*background-color: #F9F9F9;*/
}

/*select all divs in the grid*/
#main > div > div{
  margin: .6em;
}


#header{
  /*background-color: #ff0000;*/
}

#header ul{
  /*padding: 0px;*/
  margin: 0px;
}

#header p{
  margin: 0px;
}

#header h1{
  margin: 0px;
}


#profile-pic {
  width: 100%;
  height: 100%;
  
}


#bio{
  flex-grow: 1;
}

#bio ul{
  margin-top:    1em;
  margin-bottom: 1em;
  padding-left: 2ch;
  
}

#bio > div{
  /*padding: 0px;*/
}

#bio .one{
  /*top: 0px;*/
  /*bottom: auto;*/
  /*flex-grow: 1;*/
}

#bio .two{
  flex-grow: 1;
}

#bio .three{
  /*top: auto;*/
  /*bottom: 0px;*/
  /*flex-grow: 1;*/
}



#sidebar{
  /*background-color: #FFAFAF;*/
}

#sidebar h2{
  font-size: 1.2em;
  font-style: bold;
  /*text-decoration: underline;*/
}

#sidebar h3{
  font-size: 1em;
  font-style: bold;
}

#sidebar .separator{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

#sidebar ul.affiliation.previous{
  list-style: none;
  padding: 0px;
}



#content{
  max-width: 52ch;
}

#content h2{
  /*font-size: 1.4em;*/
  font-size: 1em;
  font-style: bold;
  text-decoration: underline;
  margin-top:    0.55em;
  margin-bottom: 0.55em;
}

#content h3{
  font-size: 1em;
  font-style: bold;
}

.highlight{
  background-color: #CAAFDC;
}

.news{
  padding: .5em;
}
