h1,h2,h3,h4,h5{
  border: 0px;
  margin: 0px;
}

p{
  margin: 0px;
}


ul{
  list-style-type: square;
  margin: 0px;
  padding-left: 3ch;
}

ul > li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}


ul > li::marker{
  color: #6630D9;
  /*font-size: 3em;*/
  /*line-height: 2em;*/
  /*padding: 0px;
  margin: 0px;
  
  padding-top: 200px;*/
  /*list-style-position: inside;*/
}


.spacer{
  /*display: block;*/
  padding: 0px;
  margin:  0px;
  border: 0px;
  border-style: none;
  max-height: 1.0rem;
  flex-grow: 1; 
}

.separator{
  display: block;
  /*border: 0px;*/
  border-top-width: 1px;
  border-color: #000000;
  border-top-style: dotted;
}

.flex.column{
  display: flex;
  flex-direction: column;
}

.flex.row{
  display: flex;
  flex-direction: row;
  /*margin: -20px;*/
}

.flex.center{
  align-items: center;
}

.flex.head{
  align-self: flex-start;
}

.flex.tail{
  align-self: flex-end;
}

.box.width{
  /*display: block;*/
  width: 200px;
  min-width: 200px;
}

.box.height{
  /*display: block;*/
  height: 200px;
  min-height: 200px;
}




#editor-toolbar{
  position: absolute;
  width: 15ch;
  
  /*background: #2D2A2E;*/
  background: #ffffff;
  
  border-radius: 0.28rem;
}

#editor-toolbar .visible{
  display: block;
}

#editor-toolbar .invisible{
  display: none;
}




/*select the container itself*/
#main{
  margin-top: 1.5rem;
  /*position: center;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 85ch;
  
  background-color: #F2F2F2;
  /*background-color: #F9F9F9;*/
}

/*select all divs in the grid*/
#main > div.flex.row > div{
  /*margin: .6em;*/
  
  margin: 0.0em 0.6em;
  /* ^ should match padding in #content .content */
}

#header img.headshot{
  display: block;
  top: auto;
  bottom: auto;
}


#header{
  /*background-color: #ff0000;*/
}

#header ul{
  /*padding: 0px;*/
  margin: 0px;
}

#header p{
  margin: 0px;
}

#header h1{
  margin: 0px;
  /*font-size: 1.7em;*/
}


#bio{
  flex-grow: 1;
  justify-content: flex-end;
}

#bio .spacer{
  max-height: 0.2rem;
}

#bio > div{
  /*padding: 0px;*/
}

#bio .nametag{
  /*top: 0px;*/
  /*bottom: auto;*/
  /*flex-grow: 1;*/
}

.nametag .job-title{
  /*font-style: italic;*/
  font-weight: bold;
}
.nametag .organization{
  /*font-style: italic;*/
  font-weight: bold;
}


#bio .education{
  /*flex-grow: 1;*/
}

#bio .education ul{
  padding-left: 2ch;
}

#bio .education ul > li {
  padding-top:    0.15em;
  padding-bottom: 0.15em;
}

#bio .links-section{
  /*top: auto;*/
  /*bottom: 0px;*/
  /*flex-grow: 1;*/
}

ul.horizontal.links {
  display: inline;
  list-style: none;
  padding: 0em;
}

ul.horizontal.links > li {
  display: inline;
  padding: 0em;
  margin-right: 0.7ch;
}




#sidebar{
  /*background-color: #FFAFAF;*/
}

#sidebar h2{
  font-size: 1.3em;
  font-style: bold;
  /*text-decoration: underline;*/
}

#sidebar h3{
  font-size: 1em;
  font-style: bold;
}

#sidebar .separator{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

#sidebar .affiliation.current{
  padding-top: 0.5em;
}

#sidebar .affiliation.previous ul{
  list-style: none;
  padding: 0px;
}

#sidebar .affiliation.previous li {
  padding-top:    0.6em;
  padding-bottom: 0.6em;
}

#sidebar .affiliation.previous li:first-child {
  padding-top:    0.0em;
}





.highlight{
  background-color: #E6CAF7;
  /*border-radius: 0.28rem;*/
}

#content h2{
  /*font-size: 1.4em;*/
  font-size: 1em;
  font-style: bold;
  text-decoration: underline;
  margin-top:    0.55em;
  margin-bottom: 0.55em;
}

#content h3{
  font-size: 1em;
  font-style: bold;
}

@media only screen{
  /* narrow format */
  @media (max-width: 600px){
    .flex.row.bottom{
      /*display: block;*/
      flex-direction: column;
      /*flex: 1;*/
    }
    
    #sidebar{
      align-self: center;
      order: 2;
    }
    
    
    #content{
      width: 100%;
      /*top: 0px;*/
      order: 1;
    }
    
    #content .background{
      width: 100%;
    }
    
    #content .content{
      max-width: 52ch;
      /*align-self: center;*/
      margin-left:  auto;
      margin-right: auto;
      
      padding: 0px 0.6em;
      /* ^ horizontal padding should match #main > div.flex.row > div */
    }
    
    #content .news{
      padding-top:    0.5em;
      padding-bottom: 0.5em;
      
      /*margin: 0.8em;*/
    }
  }
  
  /* full size */
  @media (min-width: 600px){
    #content{
      
    }

    #content .background{
      /*width: 100%;*/
    }

    #content .content{
      max-width: 52ch;
      /*align-self: center;*/
      margin-left:  0px;
      margin-right: 0px;
    }
    
    #content .news{
      padding: 0.8em;
      /* ^ needs to be adjusted 
           relative to #sidebar h2
           font size
      */
      /*margin: 0.8em;*/
    }
  }
  
}
